*{
    margin: 0;
    padding: 0;
}
.navbar-collapse .collapse .show{
    float:right;
    align-items: center;
    width: 50%;
}
@media (max-width:767px) {
    .navbar-collapse {
      float: right;
    }
    .navbar-brand{
        width:initial;
    }
  }
  .navbar-nav .links{
      background-color: transparent;
  }